scanned/
scanned/*

notebooks/*.jpg
notebooks/*.pdf
notebooks/.ipynb_checkpoints/
notebooks/backgrounds/
notebooks/backgrounds/*

__pycache__/
__pycache__/*
variant_generator/__pycache__/
variant_generator/__pycache__/*
pyblur/__pycache__/
pyblur/__pycache__/*


*.egg-info/
.eggs/
.idea/

.pytest_cache/

